<div class="col-4 col-sm-4 col-md-4 col-lg-2">
    <a href="category.html?category={{ category.slug }}" class="category-card">
        <img src="{{ category.image }}" alt="{{ category.name }}" loading="lazy">
        <span>{{ category.name }}</span>
    </a>
</div>


